<nav class="navbar navbar-expand-sm bg-light">
    <div class="container mt-5">
    <div class="card col-md-2">
    <div class="d-flex justify-content-between p-3">
    <ul>
    <li><a href="javascript">JAVASCRIPT</a></li>
    </ul>
    </div>
    </div> <br>
    <div class="card col-md-2">
    <div class="d-flex justify-content-between p-3">
    <ul>
    <li><a href="html">HTML</a></li>
    </ul>
    </div>
    </div> <br>
    <div class="card col-md-2">
    <div class="d-flex justify-content-between p-3">
    <ul>
    <li><a href="css">CSS</a></li>
    </ul>
    </div>
    </div> <br>
    <div class="card col-md-2">
    <div class="d-flex justify-content-between p-3">
    <ul>
    <li><a href="typescript">TYPESCRIPT</a></li>
    </ul>
    </div>
    </div>
    </div>
    </nav>